body{
    background: rgb(11,11,120);
    background: linear-gradient(90deg, rgba(11,11,120,1) 0%, rgba(9,96,138,1) 50%, rgba(124,7,156,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: azure;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    color: rgb(252, 252, 252);
}

h3{
    color: black;
    background-color: royalblue;
    border: 3px solid;
    text-align: center;

}

p{
    color: whitesmoke;
}

ul{
    color: black;
    background-color: royalblue;
    border: 3px solid;
}

img{
    width: 520px;
    height: 540px;
}